/* Write your CSS here */
body {
  margin: 0px;
}
.bg-container {
  background-color: #f1f5f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.heading {
  color: #2d3a35;
  font-size: 25px;
  font-family: 'Roboto';
  padding-bottom: 8px;
}
.description {
  color: 2d3a35;
  font-size: 20px;
  font-family: 'Roboto';
}
.span-text {
  color: #c20a72;
  padding-right: 5px;
}
.button {
  background-color: #007bff;
  color: #ffffff;
  border-radius: 5px;
  border: none;
  padding-right: 6px;
  padding-left: 6px;
  height: 5vh;
}
